body{
    background-color:#eeeeee;
    padding:0;
    margin:0;
}
.nav{
    background-color:#5cb85c;
    height:40px;
    padding:10px 40px 0 40px;
}

.list-inline{
    width:99%;
    padding:1px 1px 1px 1px;
}
.list-inline li{
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
}

.product{
    border: 1px solid #cccccc;
    background-color:white;
    margin:0 0 0 0;
}
@media screen and (max-width:768px){
    .product{
        width:100%;
        margin-bottom:10px;
    }
}
@media screen and (min-width:769px){
    .product{
        width:49%;
    }
}
@media screen and (min-width:1366px){
    .product{
        width:23%;
    }
    .container{
        width:1000px;
        margin: 0 auto;
    }
}
.product-image-wrapper{
    width: 100%;
    position:relative;
    background-position: center;
    background-size: cover;
}
.product-image-wrapper:before{
    content: '';
    display: block;
    padding-top:100%;
}
.pdocut-image-wrapper .product-image{
    border:1px solid black;
    position: absolute;
    height:100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.product-name{
    overflow:hidden;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding:2px 2px 2px 2px;
}
