<div>
  현재 기기의 해상도는 <span id="width"></span> x <span id="height"></span>입니다.
</div>
<script>
  document.querySelector('#width').innerHTML = window.innerWidth;
  document.querySelector('#height').innerHTML = window.innerHeight;
</script>
</body>
</html>