<script id="testReport" type="text/x-handlebars-template">
  <h3>테스트 결과</h3>
  <dl>
    <dt>
      <dt>논리적해상도</dt>
      <dd>{{logicalWidth}} x {{logicalHeight}}</dd>
      <dt>물리적 해상도</dt>
      <dd>{{physicalWidth}} x {{physicalHeight}}</dd>
      <dt>픽셀 배율</dt>
      <dd>{{devicePixelRatio}}</dd>
  </dl>
  <h3>현재 기기의 User Agent</h3>
  <div>{{userAgent}}</div>
</script>